/* Header */
.header{
  overflow-y: hidden;
}
body{
    margin: 0;
}
.main{
    overflow: hidden;
}
.header__navbar{
    background-color: rgba(12, 12, 12, 0.1);
    position: absolute;
    top: 0;
    width: 100%;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: space-around;  

}
.header-background-img{
    position: relative;
    /* background-image: none; */
    /* height: 100%; */
    /* background-position:center; */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60%;
    padding-bottom: 50px;
    overflow-y: hidden;
   
   
    
}
body .header-background-img-wrapper{
    overflow-y: hidden;
}


.header__logo{
    display: flex;
    height: 36px;
    width: 160px;
    margin-top: -10px;

   

}
.header__navbar-menu {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: -90px;
   
    

}
.header__navbar-menu-hover-color:hover{
    background-color: #ccc;
}

.header__navbar-list{
    position: relative;
    list-style: none;

}
.header__navbar-list li:hover{
    cursor: pointer;
    background-color: #f9f9f9;
}
.header__navbar-list a{
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 34px;
    letter-spacing: 2px;
    display: flex;
    height: 100%;
    align-items: center;



 }
 .header__navbar-list:hover .header__navbar-list-packages-search{
     display: block;
 }
.header__navbar-icon{
    font-size: 3rem;
    color: #ccc;
    display: flex;
}
.header__navbar-icon-mobile{
    display: block;
    font-size: 3rem;
    color: #ccc;
}
.header__navbar-icon-menu{
 cursor: pointer;
}
.header__navbar-icon-menu-mt{
    cursor: pointer;
    display: none;
}
.header__navbar-list-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

  
   
}
.header__navbar-slider{
    position: absolute;
    top: 230px;
 
   


}
.header__input-mt:checked ~ .header__overlay-mt{
    display: block;
}
.header__input-mt:checked ~ .header__navbar-menu-packages-mt{
    transform: translateX(0);
    opacity: 1;
}
.header__input:checked ~ .header__overlay{
    display: block;
}
.header__input:checked ~ .header__navbar-menu-packages{
    transform: translateX(0);
    opacity: 1;
}
.header__text{
    position: relative;
    display: block;
   
}
.header__text-title{
    position: relative;
    font-size: 5.2rem;
    font-weight: 650;
    color: var(--white-color);
    text-align: center;
    z-index: 1;
}
.header__text-title-wrapper{
    position: relative;
    font-size: 5.2rem;
    font-weight: 650;
    color: var(--white-color);
    text-align: center;
    z-index: 1;
}
.header__text-title::after{
    
    position: absolute;
    content: '';
    width: 176px;
    height: 5px;
    right: 0;
    bottom: 7px;
    z-index: -8;
    background-color: #ba71da;
}
.header__text-promotion{
    font-size: 2rem;
    font-weight: 300;
    color: var(--white-color);
    text-align: center;
    letter-spacing: 3px;
    

}
.header__search{
    position: relative;
    width: 346px;
    height: 42px;
    background-color: var(--white-color);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 62px;
    cursor: pointer;
    margin-left: 108px;
    /* max-width: 100%; */
    

}
.header__search-destination{
    color: #a3a3a3;
    margin-left: 12px;
    font-size: 1.6rem;
    cursor: pointer;
    border-style: none;
    width: 100%;
    height: 90%;
    outline: none;

 
 

}
.header__search-destination:focus ~ .header__search-history {
    display: block;
}
.header__search-history{
    position: absolute;
    background-color: white;
    height: 180px;
    /* bottom: -177px; */
    top: 43px;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
    border-radius: 2px;
    display: none;
    border-style: none;
}
.header__search-history-item{
    margin-bottom: 0;
    list-style: none;
    margin-left: -14px;
    padding: 0;
    margin-top: 0;
}
.header__search-history-list{
    font-size: 1.6rem;
    color: #a3a3a3;
    line-height: 2.6rem;
    padding-left: 36px;


}
.header__search-history-list:hover{
    background-color: rgba(0, 0, 250, 0.473);
    color: white;
    width: 100%;
}
.heder__search-icon{
    margin-right: 12px;
    background: var(--white-color);
    border-style: none;
    border-radius: 15px;
    font-size: 1.8rem;
    color: #a3a3a3;

}
.header__service{
    display: flex;
    justify-content: center;
    
   
    
}
.header__service-link{
    width: 110px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 70px 16px 0 16px;
    /* display: block; */
    /* align-items: center; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    /* justify-content: unset; */
    align-items: center;
}
.header__service-link-img{
    font-size: 1.4rem;
    width: 34px;
    height: 42px;
    display: flex;
   

}
.header__service-link-img-text{
    text-decoration: none;
    font-size: 1.4rem;
    color:var(--white-color);

}
/* list, hover header */
    .header__navbar-list{
        display: block;
        height: 100%;
    }
    .header__navbar-list-center{
        display: flex;
        align-items: center;
    }
    .header__navbar-list ul{
        color: #9a9a9a;
        font-size: 1.4rem;
        padding-left: 0;
        box-shadow: 0 1px 1.125rem 0 rgb(240 235 235 / 60%);
        border-radius: 3px;
        /* overflow: hidden; */
        line-height: 14px;
        letter-spacing: 2px;
    }
    .header__navbar-list-packages-search{
        display: none;

        position: absolute;
        top: 78px;
        left: 22px;
       
 
    }
    .header__navbar-list-packages{
        list-style: none;
        width: 182px;
        height: 48px;
        background-color: var(--white-color);
        border-bottom: 1px solid rgba(204, 204, 204,0.3);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px 0 16px;
        position: relative;
        z-index: 10;
        

    }
   
    
    .header__navbar-list-packages-hover{
    }
    .header__navbar-list-packages-tralve{
        position: absolute;
        display: none;
        width: 186px;
        top: -1px;
        width: 100%;
        /* box-shadow: none; */
        margin-left: 168px;
        /* padding-left: 28px; */
        padding: 0 0 0 20px !important;
        box-shadow: none !important;
    }
        
    
      
    
    .header__navbar-list-packages:hover .header__navbar-list-packages-tralve{
        display: block;
    }
    .header__navbar-list-packages-tralve-service{
        list-style: none;
        width: 182px;
        height: 48px;
        background-color: var(--white-color);
        border-bottom: 1px solid rgba(204, 204, 204,0.3);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px 0 16px;
        position: relative;
        z-index: 10;

    }
    .header__navbar-list-packages-tralve-service-trend{
        background-color: #26e7f5;
        border-radius: 3px;
        color: #fff;
        font-size: 1.2rem;
        line-height: 10px;
        padding: 3px 5px;
        width: 42px;
        /* text-align: center; */
        height: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .header__navbar-list-packages-hover-link{
        display: flex;
    }

    .header__navbar-list-packages-hottrend{
        background-color: #f76570;
        border-radius: 3px;
        color: #fff;
        font-size: 1.2rem;
        line-height: 10px;
        padding: 3px 5px;
        width: 36px;
        /* text-align: center; */
        height: 17px;
        align-items: center;
        display: flex;
        justify-content: center;
        

    }

    .header__navbar-list-shop{
        display: none;
        position: absolute;
        top: 78px;
        left: 22px;
 
      
    }
    .header__navbar-list:hover .header__navbar-list-shop{
        display: block;
    }
    .header__navbar-list-shop-find{
        list-style: none;
        width: 170px;
        height: 48px;
        background-color: var(--white-color);
        border-bottom: 1px solid rgba(204, 204, 204,0.3);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px 0 16px;

    }
    .header__navbar-list:hover .header__navbar-list-aboutus{
        display: block;
    }

    .header__navbar-list-aboutus{
        position: absolute;
        top: 78px;
        left: 22px;
        display: none;
    }
    .header__navbar-list-aboutus-find{
        list-style: none;
        width: 170px;
        height: 48px;
        background-color: var(--white-color);
        border-bottom: 1px solid rgba(204, 204, 204,0.3);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px 0 16px;


    }
    .header__navbar-list-find-newtrend{
        background-color: #1bbc9b;
        border-radius: 3px;
        color: #fff;
        font-size: 1.2rem;
        line-height: 10px;
        padding: 3px 5px;
        width: 36px;
        /* text-align: center; */
        height: 17px;
        align-items: center;
        display: flex;
        justify-content: center;

    }

    .header__navbar-list-pages{
        display: none;
        position: absolute;
        top: 78px;
        left: 22px;

    }
    .header__navbar-list-pages-find{
        list-style: none;
        width: 170px;
        height: 48px;
        background-color: var(--white-color);
        border-bottom: 1px solid rgba(204, 204, 204,0.3);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px 0 16px;
        position: relative;
        z-index: 2;
        
        
    }
    .header__navbar-list-pages-find:hover .header__navbar-list-pages-find-contact{
        display: block;
    }
    .header__navbar-list-pages-find-contact{
        position: absolute;
        top: -1px;
        left: 170px;
        display: none;
        padding: 0 0 0 20px !important;
        box-shadow: none !important;
        

    }
    .header__navbar-list-pages-find-contact-number{
        list-style: none;
        width: 182px;
        height: 48px;
        background-color: var(--white-color);
        border-bottom: 1px solid rgba(204, 204, 204,0.3);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 18px 0 18px;
        position: relative;
        z-index: 10;
        

    }
    .header__navbar-list-pages-find:hover .header__navbar-list-pages-find-about-us{
        display: block;
    }
    .header__navbar-list-pages-find-about-us{
        position: absolute;
        top: -1px;
        left: 170px;
        display: none;
        padding: 0 0 0 20px !important;
        box-shadow: none !important;
        
    }
    .header__navbar-list-pages-find-about-us-number{
        list-style: none;
        width: 182px;
        height: 48px;
        background-color: var(--white-color);
        border-bottom: 1px solid rgba(204, 204, 204,0.3);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 18px 0 18px;
        position: relative;
        z-index: 10;
        

    }
    .header__navbar-list:hover .header__navbar-list-pages{
        display: block;
    }

    .header__navbar-list-News{
        display: none;
        position: absolute;
        top: 78px;
        left: 22px;


    }
    .header__navbar-list:hover .header__navbar-list-News{
        display: block;
    }
    .header__navbar-list-News-find{
        list-style: none;
        width: 170px;
        height: 48px;
        background-color: var(--white-color);
        border-bottom: 1px solid rgba(204, 204, 204,0.3);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px 0 16px;
        position: relative;
        z-index: 2;

    }
    
    .header__navbar-list-News-find-post{
        position: absolute;
        top: -1px;
        left: 170px;
        display: none;
        padding: 0 0 0 20px !important;
        box-shadow: none !important;
        

        
    }
    .header__navbar-list-News-find:hover .header__navbar-list-News-find-post{
        display: block;

    }
    .header__navbar-list-News-find-post-size{
        list-style: none;
        width: 182px;
        height: 48px;
        background-color: var(--white-color);
        border-bottom: 1px solid rgba(204, 204, 204,0.3);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 18px 0 18px;
        position: relative;
        z-index: 10;
        

    }
    .header__navbar-list-contact{
        display: none;
        position: absolute;
        top: 78px;
        left: 22px;



    }
    .header__navbar-list:hover .header__navbar-list-contact{
        display: block;
    }
    
    .header__navbar-list-contact-find{
        list-style: none;
        width: 170px;
        height: 48px;
        background-color: var(--white-color);
        border-bottom: 1px solid rgba(204, 204, 204,0.3);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px 0 16px;
        position: relative;
        z-index: 2;

    }
    .header__navbar-menu-packages{
        position: fixed;
        background-color: white;
        top: 65px;
        right: 0;
        width: 320px;
        padding: 22px 0 22px 4px;
        top: 0;
        z-index: 20;
        /* overflow: hidden; */
        border-radius:3px;
        transform: translateX(100%);
        opacity: 0;
        transition: transform linear 0.2s, opacity linear 0.2s;
        overflow: auto;
        height: 715px;
    }
    .header__navbar-menu-packages-mt{
        position: fixed;
        width: 40%;
        background-color: #555;
        right: 0;
        /* height: 100%; */
        top: 0;
        height: 100%;
        z-index: 10;
        overflow-y: auto;
        border-radius:3px;
        transform: translateX(100%);
        opacity: 0;
        transition: transform linear 0.2s, opacity linear 0.2s;
        
    }
    .header__navbar-menu-packages-mt-item{
        list-style: none;
        padding: 0 40px 40px 40px;
        /* overflow-y: auto; */
        letter-spacing: 2px;
    }
    .header__navbar-menu-packages-mt-item-list{
        font-size: 1.4rem;
        margin-bottom: 20px;
        font-weight: 400;
    }
    .header__navbar-menu-packages-mt-item-list-link{
        text-decoration: none;
        color: var(--white-color);
    }
    .header__navbar-menu-packages-mt-item-list-link-headding{
        font-size: 2.3rem;
        font-weight: bold;
        margin-top: 40px;
    }
    .header__overlay{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        animation: fadeIn linear 0.2s;

    }
    .header__overlay-mt{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        animation: fadeIn linear 0.2s;

    }
    .header__navbar-menu-packages-btn-close{
        position: absolute;
        right: 8px;
        top: 8px;
        cursor: pointer;
    
    }
    .header__navbar-menu-packages-btn-mt-close{
        position: absolute;
        right: 0;
        top: 8px;
        cursor: pointer;
    }
    .header__navbar-menu-packages-btn{
        width: 16px;
    }
    .header__navbar-menu-packages-btn-mt{
        font-size: 2.6rem;
        color: var(--white-color);
        
    }
    .header__navbar-menu-packages-trend{
        font-size: 1.4rem;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        
    }
    .header__navbar-menu-packages-title{
        font-size: 2.8rem;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 16px;
        position: relative;
        z-index: 10;
    }
    .header__navbar-menu-packages-title::before{
        content: "";
        position: absolute;
        background-color: #ffd105;
        width: 150px;
        height: 4px;
        top: 13px;
        z-index: -8;
    }
    .header__navbar-menu-packages-item{
        
    }
    .header__navbar-menu-packages-item-list{
        padding: 24px;
        list-style: none;
        
    }
    .header__navbar-menu-packages-item-list-tour{
        margin-bottom: 26px;
        
    }
    .header__navbar-menu-packages-item-list-tour-box{
        display: flex;
        
    }
    .header__navbar-menu-packages-item-list-tour-img{
        width: 100px;
        height: 100px;
        
    }
    .header__navbar-menu-packages-item-list-name{
        font-size: 1.6rem;
        margin-left: 24px;
        margin-left: 20p;
        margin-top: 4px;
    }
    .header__navbar-menu-packages-item-list-place{
        position: absolute;
        left: 150px;
        margin-top: 32px;
        font-size: 1.6rem;
        
    }
    .header__navbar-menu-packages-item-list-price{
        position: absolute;
        /* display: flex; */
        width: 128px;
        height: 28px;
        left: 150px;
        margin-top: 68px;
        border-radius: 25px;
        color: var(--white-color);
        font-weight: 700;
        background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
        border-style: none;
        
    }
    .header__navbar-menu-packages-item-list-price-background-color{
        background: linear-gradient(to right, #f76570 0%, #f78d65 100%);
    }
    .header__navbar-menu-packages-item-list-price-background-color-2
    {
        background: linear-gradient(to right, #ba71da 0%, #da717b 100%);

    }

    /* menu-packages-travel */
    .header__navbar-menu-packages-travel{
        position: relative;
        margin: 0 24px 0 24px;
        z-index: -9;
     




    }
    .header__navbar-menu-packages-travel-img{
        width: 100%;
        z-index: -9;

    }
    .header__navbar-menu-packages-travel-title{
        position: absolute;
        top: 194px;
        margin-left: 32px;
        /* color: rgb(216, 108, 108); */
        color: var(--white-color);
        text-shadow: 1px 1px 1px rgb(116, 114, 114);


    }
    .header__navbar-menu-packages-travel-name{
        font-size: 2.5rem;
        margin: 0;
        margin-bottom: 14px;
        font-weight: bold;




    }
    .header__navbar-menu-packages-travel-text{
        font-size: 1.4rem;


    }
    .packages-background-travel{
        position: absolute;
        background: #14b9d5;
        top: 0px;
        height: 100%;
        width: 100%;
        color: var(--white-color);
        text-align: center;
        display: none;
        /* opacity: 0; */
        animation: faceIn ease-in 0.5s;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        /* transition: opacity ease-out 0.2s;
        opacity: 0; */
       
        

    }
    
    .packages-travel-title{
        font-size: 2.5rem;
        margin-top: 50px;
        font-weight: 900;
        margin-bottom: 29px;
    }
    .packages-travel-title-text{
        font-size:1.6rem;
        font-weight: 400;
    }

    .packages-travel-btn-view{
        height: 36px;
        background-color: #fff;
        border: none;
        border-radius: 25px;
        width: 168px;
        color: #14b9d7;
        margin-top: 8px;
    }
    .header__navbar-menu-packages-travel:hover .packages-background-travel{
        display: block;
    }
    /* Container */
    .container{

    }
    .container_app-wrapper{
        text-align: center;
        width: 100%;
        margin: 50px 0 32px 0;
        position: relative;

    }
    .container_app-wrapper-heading::after{
        position: absolute;
        content: "";
        width: 315px;
        height: 4px;
        background-color: #1eb596;
        /* right: 194px; */
        bottom: 11px;
        z-index: -9;
        margin: 14px;
        /* left: 487px; */
        right: 392px;
    }
    .container_app-wrapper-title{
        font-size: 1.4rem;
        letter-spacing: 2px;
        color: #9a9a9a;
        font-weight: 300;
    }
    .container_app-wrapper-heading{
        color: #555555;
        font-size: 4rem;
        letter-spacing: 2px;
        font-weight: bold;
        margin: 0 0 0 8px;
    }
    .container_app-wrapper-heading-wrapper{
        color: #555555;
        font-size: 4rem;
        letter-spacing: 2px;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }
    .container__travel{
        position: relative;
        margin: 0 0 16px 0;
    }
    .container__travel-hover{
        /* display: flex; */
        margin: 106px 0 50px 0;
    }
    .container__travel-hover-1{
        margin-top: 126px;
    }
    .container__travel:hover .packages-background-travel{
        display: block;
        padding: none;
    }
    .container__travel-img{
        width: 100%;
        position: relative;
        height: 370px;
    }
    .container__travel-icon-img{
        position: absolute;
        /* background-color: red; */
        left: 0;
        font-weight: 500;
        /* font-size: 1.2rem; */
        width: 52px;
        margin: 32px 0 0 32px;
        width: 36px;


    }
    .container__travel-heading{
        position: absolute;
        bottom: 0;
        color: var(--white-color);
        margin: 0 0 16px 32px;
        text-shadow: 1px 1px 1px rgb(116, 114, 114);
    }
    .container__travel-heading-title{
        font-size: 2.6rem;
    }
    .container__travel-heading-text{
        margin-top: -8px;
        font-size: 1.2rem;
        font-weight: 300;
        letter-spacing: 2px;

    }

    /* container content */
    .container__content{
        height: 236px;
        width: 100%;
        position: relative;
    }
  
    .container__content-img{
     
         background-repeat: no-repeat;
         height: 100%;
         /* width: 1370px; */
         width: 100%;
         /* background-size: contain; */
         background-position: center;
         background-size: cover;
         margin-top: 50px;
    }

    
    .container__content-travel{
 
    }
    .container__content-travel-date{
        position: absolute;
        top: 46px;
        left: 268px;
        /* font-weight: bold; */
        font-size: 4rem;
        color: var(--white-color);
    }
    .container__content-travel-date-text{
        font-weight: 600;
        margin-bottom: -10px;
        position: relative;
        z-index: 9;
    }
    .container__content-travel-date-text-line::after{
        content: "";
        width: 160px;
        height: 5px;
        background-color: #f76570;
        position: absolute;
        bottom: -14px;
        left: 110px;
        z-index: -1;
       
    }

    .container__content-travel-view{
        position: absolute;
        top: 108px;
        /* text-align: center; */
        /* display: flex; */
        right: 292px;
        width: 256px;
        height: 46px;
        border-radius: 25px;
        border-style: none;
        color: #f76e78;
        letter-spacing: 2px;
        background-color: var(--white-color);
        cursor: pointer;
}
    .container__tour-sales{
        margin-top: 65px;
        margin-bottom: 116px;
    }
    .container__tour-info{

    }
    .container__tour-info-title{
        font-size: 1.4rem;
        color: #a39a9a;
        font-size: 1.4rem;
        letter-spacing: 2px;
        line-height: 28px;
        font-weight: 300;

    }
    .container__tour-info-title-head{
        font-size: 3.6rem;
        margin-top: 18px;
        margin-bottom: 35px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .container__tour-price{
        display: flex;
        margin-top: -17px;
        margin-bottom: 5px;
        margin-top: -8px;
    }
    .container__tour-price-old{
        margin-right: 6px;
        font-size: 3rem;
        color: #dadada;
        font-weight: 300;
        position: relative;
        margin-right: 10px;


    }
    .container__tour-price-old::after{
        content: "";
        background-color: #dadada;
        width: 56px;
        height: 3px;
        position: absolute;
        left: -5px;
        top: 5px;
    }
    .container__tour-price-new{
        font-size: 3rem;
        font-weight: 300;

    }
    .container__tour-price-person{
        display: flex;
        font-size: 1.6rem;
        align-items: flex-end;
        margin-bottom: 23px;
    }
    .container__tour-book{
        width: 164px;
        height: 42px;
        border-radius: 25px;
        border-style: none;
        background-color: #1bbc9b;
        color: var(--white-color);
        margin-top: 6px;
    }
    
    .container__tour-time-sale{

    }
    .container__tour-time-sale-img-wrapper{
        height: 408px;
        margin-top: 70px;
        position: relative;

    }
    .container__tour-time-sale-img{
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }
    .container__tour-time-sale-deadline{
        width: 126px;
        height: 116px;
        background-color: #14b9d5;
        text-align: center;
        color: var(--white-color);
        border-right: 1px solid #34c2d7;

    }
    .container__tour-time-sale-datetime{
        display: flex;
        bottom: -60px;
        position: absolute;
        left: 142px;
    }
    .container__tour-time-sale-deadline-number{
        margin-top: 42px;
        font-size: 3rem;
        font-weight: 400;

    }
    .container__tour-time-sale-deadline-time{
        font-size: 1.4rem;
        font-weight: 300;
        margin-top: -13px;

    }
    .container__tour-time-sale-deadline-class-fake{
        position: relative;
    }
    .container__tour-time-sale-deadline-class-fake::after{
        position: absolute;
        content: "/";
        top: -16px;
        right: -16px;
        font-size: 69px;
        color: #000;
        opacity: 0.1;
        font-weight: 100;
        z-index: 9;
        line-height: 60px;
    }
    .container__tour-time-sale-deadline-class-fake2::after{
        position: absolute;
        content: "/";
        top: -16px;
        right: -16px;
        font-size: 69px;
        color: #000;
        opacity: 0.1;
        font-weight: 100;
        z-index: 9;
        line-height: 60px;
    }
    /* Containt tralve tour */
    .container__tour-travel{
        position: relative;

    }
    .container__tour-travel-img{
        width: 50px;
    }
    .container__tour-travel-title{
        margin-top: 0;
        font-size: 2rem;
        color: #555;
    }
    .container__tour-travel-headding{
        color: #9a9a9a;
        color: #9a9a9a;
        font-size: 1.4rem;
        /* margin-bottom: 108px; */
        letter-spacing: 2px;
        font-weight: 300;
        margin: 20px 0 20px 0;
        line-height: 24px;

    }
    .container__tour-travel-view{
        color: #14b9d5;
        font-size: 1.4rem;
        font-weight: 500;
}
    .container__tour-travel-wrapper{
        position: absolute;
        top: 0;
        left: 78px;
    }
/* container__travel-place */
    .container__travel-place{
        margin-top: 168px;
        height: 268px;
        position: relative;
        display: flex;

    }
    .container__travel-place-img{
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;

    }
    .container__travel-place-title{
        position: absolute;
        top: 0;
        margin-top: 42px;
        width: 100%;
        text-align: center;
    }
    .container__travel-place-headding{
        font-size: 1.4rem;
        color: var(--white-color);
        font-weight: 400;
    }
    .container__travel-place-textcity{
        font-size: 4rem;
        color: var(--white-color);
    }
    .container__travel-place-btn{
        background-color: var(--white-color);
        width: 128px;
        height: 42px;
        border-radius: 25px;
        border-style: none;
        color: #f3a46b;

    }
    .container__travel-place-wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    /* container__promotions-packages */
    .container__promotions-packages{
        min-width: 100%;
        overflow: hidden;

    }
    .container__promotions-packages-title{
        text-align: center;
        margin-top: 80px;
    }
    .container__promotions-packages-text{
        font-size: 1.6rem;
        font-weight: 300;
        color: #9a9a9a;
        letter-spacing: 2px;
    }
    .container__promotions-packages-text-packages{
        font-size: 4rem;
        margin-bottom: 80px;
        letter-spacing: 2px;
    }
    .container__promotions-packages-tour{
        position: relative;
    }
    .container__promotions-packages-tour-wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    .container__promotions-packages-tour-img{
        width: 100%;
        height: 232px;
    }
    .container__promotions-packages-tour-icon-link{
        position: relative;
    }
    .container__promotions-packages-tour-icon-wrapper{
        position: absolute;
        width: 60px;
        height: 60px;
        background-color: #ffbe05;
        border-radius: 69px;
        right: 26px;
        margin-top: -36px;
    }
    .container__promotions-packages-tour-icon-img{
        position: absolute;
        top: 14px;
        /* background-color: white; */
        right: -45px;
        width: 31px;
    }
    .container__promotions-packages-tour-info{
        padding: 32px 32px 0 32px;
        letter-spacing: 1px;
        border: 1px solid #ccc;
        margin-top: -21px;
        
    }
    .container__promotions-packages-tour-info-headding{
        font-size: 2rem;
    }
    
    .container__promotions-packages-tour-info-place{
        position: relative;
        font-size: 1.4rem;
        color: #9a9a9a;

    }
    .container__promotions-packages-tour-info-place::after{
        position: absolute;
        content: "";
        width: 100%;
        border: 1px solid #ccc;
        bottom: -16px;
        right: 0;
    }
    .container__promotions-packages-tour-info-place-icon{
        }
    .container__promotions-packages-tour-info-place-city{
        font-size: 1.6rem;
        }
    .container__promotions-packages-tour-service{
        margin-top: 36px;

        }
    .container__promotions-packages-tour-service-cultural{
        color: black;
        font-weight: 400;
        }
    .container__promotions-packages-tour-service-relax{
        color: black;
        font-weight: 400;
        position: relative;
        margin-bottom: 38px;
        }
    .container__promotions-packages-tour-service-relax::before{
        content: "+1";
        width: 38px;
        height: 18px;
        background-color: #ffbe05;
        position: absolute;
        left: 42px;
        color: white;
        text-align: center;
        border-radius: 15px;
    }
    .container__promotions-packages-tour-service-relax::after{
        position: absolute;
        content: "";
        width: 100%;
        border: 1px solid #ccc;
        bottom: -16px;
        right: 0;
    }
    .container__promotions-packages-tour-service-price{
        position: absolute;
        right: 36px;
        bottom: 190px;
        }
    .container__promotions-packages-tour-service-price-present{
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 85px;
        }
    .container__promotions-packages-tour-info-content{
        font-size: 1.4rem;
        color: #9a9a9a;
        letter-spacing: 2px;
        line-height: 24px;
        }
    .container__promotions-packages-tour-info-view-btn{
        width: 100px;
        border-radius: 25px;
        border-style: none;
        background-color: #ffd205;
        height: 38px;
        color: var(--white-color);
        margin-top: 12px;
        margin-bottom: 28px;
        }
        
        /* footer */
        .footer{
            height: 624px;
            margin-top: 86px;
            position: relative;
        }
        .footer__wrapper{
            display: flex;
        }
        .footer__background{
            height: 100%;
            position: relative;
            background-size: cover;
            display: flex;

        }
        .footer__tralve{
            margin-top: 60px;
            margin-left: 22px;
            margin-right: -12px;
        }
        .footer__tralve-heading{
            font-size: 1.4rem;
            color: #9a9a9a;
            font-weight: 300;
            letter-spacing: 1px;
        }
        .footer__tralve-search{
            display: flex;
            top: 33px;
            margin-top: 98px;

        }
        .footer__tralve-search-title{
            font-size: 4rem;
            font-weight: bold;
            margin-top: 26px;
        }
        .footer__tralve-search-text{
            height: 46px;
            width: 256px;
            border-radius: 25px;
            border-style: none;
            margin-right: 24px;
            background-color: #f9f9f9;
        }
        .footer__tralve-search-text-btn{
            height: 46px;
            width: 94px;
            border-radius: 25px;
            border-style: none;
            background-color: #14b9d5;
            color: var(--white-color);
        }
        /* footer */
        .footer__content{
            margin-left: 44px;
            margin-top: 58px;
            
        }
        .footer__content-wrapper{
            height: 348px;
            background-color: var(--white-color);
            display: flex;
            position: absolute;
            width: 100%;
            bottom: 62px;
        }
        .footer__content-img{
            width: 148px;
            height: 38px;
        }
        .footer__content-title{
            color: #959595;
            font-size: 1.6rem;
            font-weight: 300;
            letter-spacing: 2px;
            line-height: 24px;
            margin: 36px 0 36px 0;
            text-align: left;

        }
        .footer__content-social{
            font-size: 2.4rem;
        }
        .footer__content-social-icon{
            margin-right: 12px;
        }
        .footer__content-agency{
            margin-top: 58px;

        }
        .footer__content-agency-item{
            list-style: none;
            padding-left: 0;
        }
        .footer__content-agency-item-list{
            font-size: 1.5rem;
            color: #959595;
            font-weight: 400;
            line-height: 28px;

        }
        
        .footer__content-agency-item-list-icon-right{
            font-size: 1rem;
            color: #959595;
        }
        
        .footer__content-agency-item-title{
            font-size: 1.6rem;
            margin-bottom: 42px;
            margin-left: -3px;

        }
        .footer__copyright{
            background-color: #14b9d5;
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 47px;
            height: 52px;
            align-items: center;
            padding: 0 22px 0 22px;
        }
        .footer__copyright-text{
            color: var(--white-color);
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 2px;
        }
        .price-btn-color-1{

            background: #1bbc9b !important;
         }
         .price-btn-color-2{
        
            background: #f3a46b !important;
         }
         .price-btn-color-3{
        
            background: #14b9d5 !important;
         }